<template functional>
  <div :key="'composition-api-code-organization-old'">
    <img src="/images/code-organization-old.jpg" loading="lazy" class="code-organization" />
  </div>
</template>

<style scoped>
.code-organization {
  margin: 0;
  border: 1px;
}
</style>