<template functional>
  <div :key="'composition-api-code-organization'">
    <h2>
      <a href="https://github.com/vuejs/composition-api/">Try it now!</a>
    </h2>
    <img src="/screenshots/composition-api-plugin.png" loading="lazy" class="code-organization" />
  </div>
</template>

<style scoped>
.code-organization {
  margin: 0;
  border: 1px;
}
</style>