import { reactive, watch } from 'vue';
<template functional>
  <div :key="'composition-api-compare-with-react'">
    <h3>setup() function is called only once</h3>
    <ul>
      <li class="fragment fade-in">Closer to regular JS</li>
      <li class="fragment fade-in">Not sensitive to call order and can be conditional</li>
      <li class="fragment fade-in" style="color: var(--accent5)">Not called repeatedly</li>
      <li class="fragment fade-in">No manual memoization handling</li>
    </ul>
  </div>
</template>
