<template functional>
  <div :key="'composition-api'">
    <h3>
      <a href="https://vue-composition-api-rfc.netlify.com">Composition API</a>
    </h3>
    <p>a set of additive, function-based APIs that allow flexible composition of component logic.</p>
  </div>
</template>