import { reactive, watch } from 'vue';
<template functional>
  <div :key="'composition-api-reference'">
    <h3>All together</h3>
    <ul>
      <li class="fragment fade-in">setup()</li>
      <li class="fragment fade-in">reactive()</li>
      <li class="fragment fade-in" style="color: var(--accent5)">ref() / isRef() / toRefs()</li>
      <li class="fragment fade-in">computed()</li>
      <li class="fragment fade-in">onMounted() / onUpdated() / onUnmounted() / etc.</li>
      <li class="fragment fade-in">Template Refs</li>
    </ul>
  </div>
</template>
