<template functional>
  <div :key="'global-api-changes-example-di'">
    <h2>
      <a
        href="https://github.com/vuejs/rfcs/blob/global-api-change/active-rfcs/0000-global-api-change.md"
      >Example - DI</a>
    </h2>

    <pre><code class="javascript" data-trim data-noescape data-line-numbers="1-99">
// in the entry
app.provide({
  [ThemeSymbol]: theme
})

// in a child component
export default {
  inject: {
    theme: {
      from: ThemeSymbol
    }
  },
  template: `&lt;div :style=&quot;{ color: theme.textColor }&quot; /&gt;`
}
    </code></pre>
  </div>
</template>