<template functional>
  <div :key="'global-api-changes-example-after'">
    <h2>
      <a
        href="https://github.com/vuejs/rfcs/blob/global-api-change/active-rfcs/0000-global-api-change.md"
      >Example - after</a>
    </h2>

    <pre><code class="javascript" data-trim data-noescape data-line-numbers="1-99">
import { createApp } from 'vue'
import App from './App.vue'

const app = createApp(App)

app.config.ignoredElements = [/^app-/]
app.use(/* ... */)
app.mixin(/* ... */)
app.component(/* ... */)
app.directive(/* ... */)

app.mount('#app')
    </code></pre>
  </div>
</template>