<template functional>
  <div :key="'global-api-changes-example-before'">
    <h2>
      <a
        href="https://github.com/vuejs/rfcs/blob/global-api-change/active-rfcs/0000-global-api-change.md"
      >Example - before</a>
    </h2>

    <pre><code class="javascript" data-trim data-noescape data-line-numbers="1-99">
import Vue from 'vue'
import App from './App.vue'

Vue.config.ignoredElements = [/^app-/]
Vue.use(/* ... */)
Vue.mixin(/* ... */)
Vue.component(/* ... */)
Vue.directive(/* ... */)

new Vue({
  render: h => h(App)
}).$mount('#app')
    </code></pre>
  </div>
</template>