<template functional>
  <div :key="'global-api-changes'">
    <h3>
      <a
        href="https://github.com/vuejs/rfcs/blob/global-api-change/active-rfcs/0000-global-api-change.md"
      >Global mounting / configuration API change</a>
    </h3>

    <ul>
      <li class="fragment fade-in">
        Global configuration
        <ul>
          <li>Vue.config -> app.config</li>
        </ul>
      </li>
      <li class="fragment fade-in">
        Asset registration APIs
        <ul>
          <li>Vue.component -> app.component</li>
          <li>VVue.directive -> app.directive</li>
          <li>Vue.filter -> app.filter</li>
        </ul>
      </li>
      <li class="fragment fade-in">
        Behavior Extension APIs
        <ul>
          <li>Vue.mixin -> app.mixin</li>
          <li>Vue.use -> app.use</li>
        </ul>
      </li>
    </ul>
  </div>
</template>