<template functional>
  <section :key="'what-new-more'">
    <h2>
      <a
        href="https://medium.com/the-vue-point/plans-for-the-next-iteration-of-vue-js-777ffea6fabf"
      >Other discussions</a>
    </h2>
    <ul>
      <li class="fragment fade-in">
        <a
          href="https://github.com/vuejs/rfcs/blob/functional-async-api-change/active-rfcs/0000-functional-async-api-change.md"
        >Functional async api changes</a>
      </li>
      <li class="fragment fade-in">
        <a
          href="https://github.com/vuejs/rfcs/blob/attr-fallthrough/active-rfcs/0000-attr-fallthrough.md"
        >Attibute fallthrough</a>
      </li>
      <li class="fragment fade-in">
        <a
          href="https://github.com/vuejs/rfcs/blob/slots-unification/active-rfcs/0000-slots-unification.md"
        >Slot unification</a>
      </li>
      <li class="fragment fade-in">...</li>
      <li class="fragment fade-in" style="color: var(--accent5)">Whatever you need!</li>
    </ul>
  </section>
</template>