<template functional>
  <div :key="'render-function'">
    <h2>
      <a
        href="https://github.com/vuejs/rfcs/blob/render-fn-api-change/active-rfcs/0000-render-function-api-change.md"
      >Render function</a>
    </h2>
    <ul>
      <li
        class="fragment fade-in"
      >h is now globally imported instead of passed to render functions as argument</li>
      <li
        class="fragment fade-in"
      >render function arguments changed and made consistent between stateful and functional components</li>
      <li class="fragment fade-in">VNodes now have a flat data structure</li>
    </ul>
  </div>
</template>