<template functional>
  <div :key="'render-function-flat-args'">
    <h2>
      <a
        href="https://github.com/vuejs/rfcs/blob/render-fn-api-change/active-rfcs/0000-render-function-api-change.md"
      >EX - VNode flat args</a>
    </h2>
    <pre><code class="javascript" data-trim data-noescape data-line-numbers="1-99">
{
  class: ['foo', 'bar'],
  attrs: { id: 'foo', bar: 'baz' },
  domProps: { innerHTML: '' },
  on: { click: foo }
}
// 🧙🧙 Since V3 🧙🧙
{
  class: ['foo', 'bar'],
  id: 'foo',
  bar: 'baz',
  innerHTML: '',
  onClick: foo
}
    </code></pre>
  </div>
</template>