<template functional>
  <div :key="'render-function-create-element'">
    <h2>
      <a
        href="https://github.com/vuejs/rfcs/blob/render-fn-api-change/active-rfcs/0000-render-function-api-change.md"
      >EX - createElement import</a>
    </h2>
    <pre><code class="javascript" data-trim data-noescape data-line-numbers="1-99">
import { createElement as h, resolveInjection } from 'vue'
import { themeSymbol } from './ThemeProvider'

const FunctionalComp = props => {
  const theme = resolveInjection(themeSymbol)
  return h('div', `Using theme ${theme}`)
}
    </code></pre>
  </div>
</template>