<template functional>
  <div :key="'render-function-consistent-api'">
    <h2>
      <a
        href="https://github.com/vuejs/rfcs/blob/render-fn-api-change/active-rfcs/0000-render-function-api-change.md"
      >EX - Consistent args</a>
    </h2>
    <pre><code class="javascript" data-trim data-noescape data-line-numbers="1-99">
// MyComponent.js
export default {
  render(
    // declared props
    props,
    // resolved slots
    slots,
    // fallthrough attributes
    attrs,
    // the raw vnode in parent scope representing this component
    vnode
  ) {

  }
}
    </code></pre>
  </div>
</template>