<template functional>
  <section>
    <img
      src="/images/qr-code.svg"
      alt="slides link"
      title="slides-link"
      loading="lazy"
      width="50%"
      height="50%"
    />
  </section>
</template>