<template functional>
  <div :key="'what-new'">
    <h2>
      <a
        href="https://medium.com/the-vue-point/plans-for-the-next-iteration-of-vue-js-777ffea6fabf"
      >What's new?</a>
    </h2>
    <ul>
      <li class="fragment fade-in">
        <b>TypeScript</b>
      </li>
      <li class="fragment fade-in">
        <b>Tree Shaking 🌲</b>
      </li>
      <li class="fragment fade-in">
        <del>Class Api</del>
      </li>
      <li class="fragment fade-in">Hooks</li>
      <li class="fragment fade-in">Observation Reimplementation (Proxy + optional fallback)</li>
    </ul>
  </div>
</template>