<template functional>
  <div :key="'what-new-more'">
    <h2>
      <a
        href="https://medium.com/the-vue-point/plans-for-the-next-iteration-of-vue-js-777ffea6fabf"
      >What's new? V2</a>
    </h2>
    <ul>
      <li class="fragment fade-in">🔝 Top level api reworking (remove "global state")</li>
      <li class="fragment fade-in">
        🛠🛠 Refactoring 🛠🛠
        <br />functional components, async components, VDOM (+ core render methods)
      </li>
      <li class="fragment fade-in">
        🐝🐝 Buzzwords 🐝🐝
        <br />smaller, faster, fragments & portals, custom renderer API
      </li>
      <li class="fragment fade-in">Time Slicing (dom operations batching, aka React)</li>
      <li class="fragment fade-in">Build target (core will become platform agnostic)</li>
      <li class="fragment fade-in">Maintainability</li>
    </ul>
  </div>
</template>